body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #e0f7fa, #80deea);
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #00796b;
}

.map {
    width: 100%;
    height: 600px;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid #00796b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s; /* Анимация открытия модального окна */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #00796b;
        text-decoration: none;
        cursor: pointer;
    }

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #004d40;
    }

.company-info {
    margin-top: 20px;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
}

/* Медиазапросы для адаптивности */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        width: 100%; /* Кнопки на мобильных устройствах занимают всю ширину */
    }

    .modal-content {
        width: 90%; /* Уменьшение ширины модального окна на мобильных */
    }
}
#stockMarketModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}